<div class="container">
  <div class="row">
    <div class="col">
      <div class="header">
        <h1>
          Welcome to {{ title }}!
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="search-category">
        <div class="container-search">
          <input type="text" placeholder="Search..." [(ngModel)]="searchText">
          <div class="search"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="search-result">
        <ul *ngFor="let data of dataset | filter: searchText">
          <li class="list">{{data}}</li>
        </ul>
      </div>
    </div>
  </div>

  <footer class="main-footer">By Przemek</footer>
</div>
<router-outlet></router-outlet>
