<div class="container">
  <div class="row">
    <div class="col">
      <div class="word-cloud">
        <div>
          <angular-tag-cloud
            [data]="cloudData"
            [height]="options.height"
            [width]="options.width"
            [overflow]="options.overflow"
            [strict]="true"
            [randomizeAngle]="true"
            (clicked)="tagClick($event)"
          class="word">
          </angular-tag-cloud>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="search-category">
        <div class="container-search">
          <input type="text" placeholder="Search..." [(ngModel)]="searchText">
          <div class="search"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="search-result" id="scroll-style">
        <ul *ngFor="let data of dataset | filter: searchText" class="list-unstyled">
          <li title="Go to Netflix category: {{data.name}}" class="link"
              (click)="openLink(data.link)">{{data.name}}</li>
        </ul>
      </div>
    </div>
  </div>

  <footer class="main-footer">By Przemek</footer>
</div>
<router-outlet></router-outlet>
