@import '../styles-variables';

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "word-cloud" "search-category" "search-result" "footer";
  grid-template-rows: minmax(60px, 200px) minmax(70px, auto) 1fr auto;
  width: 100%;
  @media (max-width: map-get($grid-breakpoints, sm)) {
    width: 50%;
  }
}

.link:hover {
  cursor: pointer;
}

.main-footer {
  grid-area: footer;
  position: fixed;
  bottom: 5%;
  right: 10%;
  font-family: 'Inconsolata', monospace;
  color: whitesmoke;
}

.search-result {
  min-height: 20vh;
  max-height: 45vh;
  grid-area: search-result;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  color: whitesmoke;
  overflow-y: scroll;
}

.word-cloud {
  grid-area: word-cloud;
  text-align: center;
  margin-top: 5%;
  font-family: 'Inconsolata', monospace;
  font-size: 5px;
  color: whitesmoke;
  width: 100%;
  @media (max-width: map-get($grid-breakpoints, sm)) {
    width: 50%;
  }
}

.search-category {
  grid-area: search-category;

  .container-search {
    width: 300px;
    height: 100px;

    .search {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 80px;
      background: crimson;
      border-radius: 50%;
      transition: all 1s;
      z-index: 4;
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
      // box-shadow: 0 0 25px 0 crimson;
      &:hover {
        cursor: pointer;
      }

      &::before {
        content: "";
        position: absolute;
        margin: auto;
        top: 22px;
        right: 0;
        bottom: 0;
        left: 22px;
        width: 12px;
        height: 2px;
        background: white;
        transform: rotate(45deg);
        transition: all .5s;
      }

      &::after {
        content: "";
        position: absolute;
        margin: auto;
        top: -5px;
        right: 0;
        bottom: 0;
        left: -5px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid white;
        transition: all .5s;
      }
    }

    input {
      font-family: 'Inconsolata', monospace;
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 50px;
      height: 50px;
      outline: none;
      border: none;
      // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      background: crimson;
      color: white;
      text-shadow: 0 0 10px crimson;
      padding: 0 80px 0 20px;
      border-radius: 30px;
      box-shadow: 0 0 25px 0 crimson,
      0 20px 25px 0 rgba(0, 0, 0, 0.2);
      // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
      transition: all 1s;
      opacity: 0;
      z-index: 5;
      font-weight: bolder;
      letter-spacing: 0.1em;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        width: 300px;
        opacity: 1;
        cursor: text;
      }

      &:focus ~ .search {
        right: -250px;
        background: #151515;
        z-index: 6;

        &::before {
          top: 0;
          left: 0;
          width: 25px;
        }

        &::after {
          top: 0;
          left: 0;
          width: 25px;
          height: 2px;
          border: none;
          background: white;
          border-radius: 0;
          transform: rotate(-45deg);
        }
      }

      &::placeholder {
        color: white;
        opacity: 0.5;
        font-weight: bolder;
      }
    }
  }
}

#scroll-style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(245, 245, 245, 0.3);
  border-radius: 10px;
}

#scroll-style::-webkit-scrollbar {
  width: 12px;
}

#scroll-style::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(245, 245, 245, .3);
  background-color: whitesmoke;
}

::ng-deep angular-tag-cloud.word span.w10 {
  font-size: 200%;
  font-weight: bold;
}

::ng-deep angular-tag-cloud.word span.w9 {
  font-size: 180%;
}

::ng-deep angular-tag-cloud.word span.w8 {
  font-size: 160%;
}

::ng-deep angular-tag-cloud.word span.w7 {
  font-size: 140%;
}

::ng-deep angular-tag-cloud.word span.w6 {
  font-size: 130%;
}

::ng-deep angular-tag-cloud.word span.w5 {
  font-size: 120%;
}

::ng-deep angular-tag-cloud.word span.w4 {
  font-size: 110%;
}

::ng-deep angular-tag-cloud.word span.w3 {
  font-size: 100%;
}

::ng-deep angular-tag-cloud.word span.w2 {
  font-size: 100%;
}

::ng-deep angular-tag-cloud.word span.w1 {
  font-size: 100%;
}
